/Gf.DllSign.Cli/Gf.SnTool.Cli/bin
/Gf.DllSign.Cli/Gf.SnTool.Cli/output
/Gf.DllSign.Cli/Gf.SnTool.Cli/Tmp
/Gf.DllSign.Cli/Gf.SnTool.Cli/logs
/Gf.DllSign.Cli/Gf.SnTool.Cli/obj
/Gf.DllSign.Cli/Gf.SnTool.Cli/output.zip
/Gf.DllSign.Cli/Ge.SnTool.Cli.Test/obj
/Gf.DllSign.Cli/Ge.SnTool.Cli.Test/bin
/Gf.DllSign.Cli/.vs
